form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 70vh;
    width: 90vw;
    flex-direction: column;
}

div {
    display: flex;
}
table, th,td{
    border: 1px solid red;
    width:50%
}
table{
    border-collapse: collapse;
}